body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
}

.container {
  width: 500px;
}

.results {
  width: 43%;
  text-align: left;
}

.form {
  display: inline-block;
}

.inp {
  width: 60px;
}

.restart {
  margin-top: 10px;
}